
{% comment %}
Map grabs the analytics sections, giving us an array of arrays. Join, flattens all
the items to a comma delimited string. Split turns it into an array again.
{% endcomment %}
{% assign docs = site.data.analytics | map: 'docs' | join: ',' | split: ',' %}

{% comment %}
Because this is built for every page, lets find where we are in the ordered
document list by comparing url strings. Then if there's something previous or
next, lets build a link to it.
{% endcomment %}
 
{% for document in docs %}
  {% assign document_url = document | prepend:"/" | append:".html" %}
  {% if document_url == page.url %}
  <div class="text-center">
    <div class="btn-group" role="group">
          {% if forloop.first %}
            <a class="btn btn-default disabled"> Previous Topic</a>
          {% else %}
            {% assign previous = forloop.index0 | minus: 1 %}
            {% assign previous_page = docs[previous] | prepend:"/" | append:".html" %}
			<a href="{{previous_page }}" class="btn btn-default"> Previous Topic</a>
          {% endif %}
		  
          {% if forloop.last %}
		  <a class="btn btn-default disabled"> Next Topic</a>
          {% else %}
            {% assign next = forloop.index0 | plus: 1 %}
            {% assign next_page = docs[next] | prepend:"/" | append:".html" %}
			<a href="{{next_page }}" class="btn btn-default"> Next Topic</a>
	</div>
	</div>
          {% endif %}
    {% break %}
  {% endif %}
{% endfor %}