
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" >
		<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" >
		<link rel="stylesheet" href="{{ site.baseurl }}/css/dincerti.css" >
		<script type="text/javascript" src="js/jquery-2.1.1.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type = "text/x-mathjax-config">
		MathJax.Hub.Config({
			tex2jax:{
				inlineMath: [['$', '$'], ['\\(', '\\)']],
				displayMath: [['$$', '$$'], ['\\(', '\\)']],
				processEscapes: true
			}
		});
		</script>
		<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
