
<!-- nav xs+ --> 
<div id="nav-sm" class="visible-xs"> 
	<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Devin Incerti</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav ">
			<li {% if page.url == '/index.html' %}class="active"{% endif %}><a href="/index.html">About</a></li>
			<li {% if page.url == '/cv.html' %}class="active"{% endif %}><a href="/cv.html">CV</a></li>
			<li {% if page.url == '/analytics.html' or page.layout == 'rmd' %}class="active"{% endif %}><a href="/analytics.html">Analytics</a></li>
			<li {% if page.url == '/projects.html' %}class="active"{% endif %}><a href="/projects.html">Projects</a></li>
      </ul>
    </div><!--/.nav-collapse -->
	<hr>
  </div><!--/.container -->
</div> <!--/.navbar -->
 </div>

<!-- nav sm+ --> 
<div class="hidden-xs">
<div class="container">
<div class="header clearfix">
<nav>
	<ul class="nav nav-pills pull-right">
		<li {% if page.url == '/index.html' %}class="active"{% endif %}><a href="/index.html">About</a></li>
		<li {% if page.url == '/cv.html' %}class="active"{% endif %}><a href="/cv.html">CV</a></li>
		<li {% if page.url == '/analytics.html' or page.layout == 'rmd' %}class="active"{% endif %}><a href="/analytics.html">Analytics</a></li>
		<li {% if page.url == '/projects.html' %}class="active"{% endif %}><a href="/projects.html">Projects</a></li>
	 </ul>
</nav>
<h3 class="text-muted">Devin Incerti</h3>
</div>
</div> <!-- /header -->
</div> <!-- /container -->

<!-- table of contents button --> 
{% if page.layout == 'rmd' %}
	<div class="container">
	<div class="btn-group">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		Table of Contents <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
				<li><a href="analytics.html">Overview</a></li>
			<li role="separator" class="divider"></li>
			<li class="dropdown-header">Mathematical Modeling</li>
			<li><a href="markov_cohort.html">Markov Cohort Models</a></li>
			<li><a href="bayesian_markov_cohort.html">Bayesian Markov Cohort Models</a></li>
			<li class="dropdown-header">Causal Inference</li>
			<li><a href="factorial_design.html">Optimal Treatments in a Factorial Experiment</a></li>
			<li class="dropdown-header">Regression</li>
			<li><a href="twopart.html">Two-part Models</a></li>
			<li class="dropdown-header">Classification</li>
			<li><a href="diabetes_highcost.html">Predicting Diabetes Costs</a></li>
			<li class="dropdown-header">Hierarchical Modeling</li>
			<li><a href="bayesian_meta_analysis.html">Bayesian Meta-Analysis</a></li>
			<li><a href="twopart_re_longitudinal.html">Two-part Random Effects for Longitudinal Data</a></li>
	  </ul>
	</div>
	</div> <!-- /container -->
{% endif %}

